.blog-header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.blog-header .logo {
    font-family: "Alatsi", Georgia, serif ;
    font-size: 2.5rem;
    padding-left: 1rem;
}

.blog-header .blog-pages {
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    text-decoration: none;
}
