@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body{
    width: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    margin-top: 20px;
    
}

#displayOrder {
    width: 100%;
    height: 20rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#orderParametres {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    width: 35rem;
    border: 2px solid black;
    border-radius: 10%;
/*    background: #8FBC8F;*/
    background: #30C6C6;
    
/*    font-family: 'Caveat', cursive;*/
    font-family: 'Exo 2', sans-serif;
    
/*
    color: white;
    text-shadow: black 0 0 5px;
*/
}

#orderParametres p {
    font-size: 20px;
}

#cancelOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cancelButton {
    margin: 10px 10px;
    background: white;
    border: 2px solid black;
    border-radius: 20%;
    width: 5rem;
    height: 3rem;
    outline: 0;
    font-family: 'Exo 2', sans-serif;

}

#drink, #price {
    margin: 10px 10px;
    height: 15rem;
}

#displayButtons {
    width: 100%;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#chosenDrink {
    display: flex;
    flex-direction: row;
}

.coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    
    margin: 10px 10px;
    
    border: 2px solid black;
    
    border-radius: 20%;
    
    transition: 0.2s;
    
/*    font-family: 'Caveat', cursive;*/
    font-family: 'Exo 2', sans-serif;

/*    font-size: 1.3rem;*/
}

#myOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    
    margin: 10px 10px;
    
    border-radius: 20%;
    font-family: 'Exo 2', sans-serif;

}

.notOrder {
    opacity: .2;
    border: 1px solid black;
    transition: 0.2s;
}

.notSimple, .outOfCups {
    opacity: .2;
    border: 1px solid black;
}

.orderDone {
    opacity: 1;
    border: 2px solid black;
}

.youNeedToDoOrder {
    opacity: 1;
    border: 8px solid green;
}

.coffee:hover, #cancelButton:hover, #myOrder:hover {
    cursor: pointer;
}


p {
    margin: 0;
}

/* GPROGRESS BAR*/

::-webkit-progress-bar {
    background: white;
}
::-webkit-progress-value {
/*    background: #8FBC8F;*/
    background: #30C6C6;
}

progress {
    background: white;
    border: 2px solid black;
    box-sizing: border-box;
    width: 15rem;
    height: 1.5rem;
}

#displayOrder__progressBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 35px auto 25px;
}

#displayOrder__progressBar h3 {
    margin: 0 10px 0 0;
    font-family: 'Exo 2', sans-serif;
}

