/*.header-details {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*}*/

div {
    width: 100%;
    margin: auto;
}

.title-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 50%;
    border-color: grey;
    background-color: white;
    height: 3rem;
    outline: none;

    margin-left: 20px;

    transition: .4s;

    font-family: 'Exo 2', sans-serif;
}

button:hover {
    cursor: pointer;
    border-color: white;
    background-color: slategrey;
    color: white;
}

h1 {
    font-family: 'Exo 2', sans-serif;
}
